@import "config.less";
body {
  font-family: proxima-nova, sans-serif;
}
.console {
  position: fixed;
  z-index: 10;
  background-color: #121212;
  opacity: 0.5;
  color: #fff;
}
.fakeHeader {
  background-color: #121212;
  height: 300px;
}
.fakeFooter {
  background-color: #121212;
  color: #fff;
  height: 300px;
}
.contentConatiner {
  margin: 30px 0 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  p {
    display: none !important;
  }
  h1 {
    color: @mainColor;
    font-size: 54px;
    line-height: 60px;
    font-weight: 300;
    padding: 0;
    margin: 40px 0 10px;
  }
  .description {
    font-family: proxima-nova, sans-serif;
    width: 100%;
    max-width: 1260px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    color: @textColor;
    font-style: normal;
    margin-bottom: 40px;
  }
  .shop_btn {
    display: block;
    background-color: @mainColor;
    color: @textInverColor;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
  }
  .chartContainer {
    width: 100%;
    max-width: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 30px;
      background-color: @bgMaskColor;
      .l_column {
        min-width: 305px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        a {
          display: block;
          width: 100%;
          padding: 0 10px;
          img {
            width: 100%;
          }
        }
      }
      .r_column {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        a {
          display: block;
          width: 100%;
          max-width: 174px;
          padding: 0 2px;
          img {
            width: 100%;
          }
        }
      }
    }
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .part {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        .part_l_column {
          text-align: center;
          writing-mode: vertical-rl;
          text-orientation: sideways;
          transform: rotate(-180deg);
          background-color: @sideBgColor;
          color: @textInverColor;
          font-size: 18px;
          font-weight: 500;
          line-height: 35px;
          padding: 10px 0;
        }
        .part_r_column {
          flex: 1;
          border-bottom: 1px solid @boderColor;
          .item {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-top: 1px solid @boderColor;
            .l_column {
              box-sizing: border-box;
              min-height: 65px;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              max-width: 270px;
              min-width: 270px;
              padding: 10px 14px;
              border-right: 1px solid @boderColor;
              img {
                width: 45px;
                margin-right: 15px;
              }
              span {
                font-size: 14px;
                color: @itemTextColor;
                display: block;
                line-height: 15px;
                > span {
                  display: inline;
                  font-size: 8px;
                  line-height: 10px;
                  color: @itemTinyTextColor;
                }
              }
            }
            ul.r_column {
              flex: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              margin: 0;
              padding: 0;
              li {
                border-right: 1px solid @boderColor;
                min-height: 65px;
                padding: 10px 14px;
                box-sizing: border-box;
                display: block;
                flex: 100;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 200;
                span {
                  display: block;
                  width: 16px;
                  height: 16px;
                  border-radius: 8px;
                  &.none {
                    width: 12px;
                    height: 4px;
                    border-radius: 0;
                  }
                }
                // &:nth-child(1) {
                //   color: @aluOldColor;
                //   span {
                //     background-color: @aluOldColor;
                //     &.none {
                //       background-color: @noneColor;
                //     }
                //   }
                // }
                &:nth-child(1) {
                  color: @aluColor;
                  span {
                    background-color: @aluColor;
                    &.none {
                      background-color: @noneColor;
                    }
                  }
                }
                &:nth-child(2) {
                  color: @gameProColor;
                  span {
                    background-color: @gameProColor;
                    &.none {
                      background-color: @noneColor;
                    }
                  }
                }
                &:nth-child(3) {
                  color: @miniColor;
                  span {
                    background-color: @miniColor;
                    &.none {
                      background-color: @noneColor;
                    }
                  }
                }
                &:nth-child(4) {
                  color: @coreColor;
                  span {
                    background-color: @coreColor;
                    &.none {
                      background-color: @noneColor;
                    }
                  }
                }
                &:nth-child(5) {
                  color: @connectColor;
                  span {
                    background-color: @connectColor;
                    &.none {
                      background-color: @noneColor;
                    }
                  }
                }
                &:nth-child(6) {
                  color: @pinballColor;
                  span {
                    background-color: @pinballColor;
                    &.none {
                      background-color: @noneColor;
                    }
                  }
                }
                &:nth-child(7) {
                  color: @aluminiColor;
                  span {
                    background-color: @aluminiColor;
                    &.none {
                      background-color: @noneColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .note {
    max-width: 1260px;
    font-size: 13.9px;
    margin-top: -10px;
    margin-bottom: 30px;
    color: @noteColor;
    line-height: normal;
  }
}

@media screen and (max-width: 768px) {
  .contentConatiner {
    width: auto;
    margin: 30px 0 30px;
    h1 {
      font-size: 36px;
      line-height: 44px;
      font-weight: 300;
      margin-bottom: 30px;
      text-align: left;
    }
    .chartContainer {
      .header {
        flex: 0 0 auto;
        margin-bottom: 10px;
        .l_column {
          min-width: 35px;
          a {
            display: none;
          }
        }
        .r_column {
          overflow: hidden;
          justify-content: flex-start;
          a {
            box-sizing: border-box;
            display: block;
            min-width: 76px;
            padding: 0 2px;
            max-width: 165px;
          }
        }
      }
      .content {
        overflow: hidden;
        flex: 1;
        .part {
          flex: 0 0 auto;
          border-right: 1px solid @boderColor;
          margin-bottom: 10px;
          .part_l_column {
            text-align: right;
          }
          .part_r_column {
            min-width: 280px;
            border-top: 1px solid @boderColor;
            border-bottom: none;
            .item {
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              border-top: none;
              border-bottom: none;
              min-height: 111px;
              .l_column {
                position: relative;
                max-width: 100%;
                min-width: 0;
                width: 100%;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid @boderColor;
                box-sizing: border-box;
                min-height: 65px;
                text-decoration: none;
                img {
                  width: 35px;
                  margin-right: 10px;
                }
                br {
                  display: none;
                }
              }
              ul.r_column {
                width: 100%;
                font-size: 15px;
                line-height: 25px;
                border-left: none;
                border-right: none;
                min-height: 46px;
                box-sizing: border-box;
                overflow: hidden;
                li {
                  box-sizing: border-box;
                  min-width: 76px;
                  padding: 10px 0;
                  min-height: 35px;
                  border-bottom: 1px solid @boderColor;
                  font-weight: 300;
                  span {
                    width: 10px;
                    height: 10px;
                    border-radius: 5px;
                    margin: 9px 0;
                    &.none {
                      margin: 12px 0;
                    }
                  }
                  &:last-child {
                    border-right: none;
                  }
                }
              }
              & ~ .section {
                border-top: none;
              }
              &:last-child {
                ul.r_column {
                  li {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .note {
      margin-top: 10px;
    }
  }
}
